path:hover {
    fill: red;
}

#map-info {
    background-color: rgb(235, 235, 149);
    width: 300px;
    margin-top: -150%;
    margin-left: -10%;
    border-radius: 15px;
}

td, tr {
    text-align: left;
}
